
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins','sans-serif';
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.header {
  width: 100%;
  background-color: white; 
  color: blue; 
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;;
}
.header-left{
  text-align: right;
  display: inline-block;
}

.country-logo,
.help-logo {
  display: inline-block;
  margin-right: 20px; 
  width: 20px;
  height: 30px; 
  border-radius: 50%; 
  overflow: hidden; 
}

.country-logo img ,
.help-logo img {
  width: 100%; 
  height: auto;
}
.email-input,
.password-input {
  position: relative;
}

.email-input i,
.password-input i {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  right: 30px; 
  visibility: hidden;
  
}
.error i.fa-circle-exclamation{
  visibility: visible;
  color: red;
}

.email-input input,
.password-input input {
  padding-right: 30px; 
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
    width: 100%;
    margin: 20px;
    padding: 20px 30px;
    border-radius: 20px;
  background-color: #f0f0f0;
}

.image {
  width: 50%;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.form {
  width: 60%;
  padding: 0;
  padding-left: 50px;
  padding-right: 10px;
  text-align: justify;
  font-size: 0.8rem;
display: inline-block;
}
.two-forms{
  display: flex;
  gap:5px
}
.form input,
.form button {
  width: calc(100% - 20px); 
  margin-bottom: 5px;
  padding: 5px;
  box-sizing: border-box; 
}

.form button {
  background-color: #3914f2;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}



.seperater{
  text-align: center;
}

.icon {
  display: inline-block;
  width: 30px; 
  height: 30px; 
  background-size: contain;
  background-repeat: no-repeat;
}
.remember-forgot {
  display: flex; 
  align-items: center;
  margin: 0;
  font-size: 0.8rem;
}

.remember-forgot label {
  margin: 10px;
  font-size: 0.8rem;
  width: auto;
}

.remember-forgot input[type="checkbox"] {
  transform: scale(1); 
  width: auto;
   
}

.remember-forgot a {
  margin-left: auto; /* Push the "Forgot Password?" link to the right */
  font-size: 0.7rem;
}

.agree{
    display: flex; 
    
    align-items: center;
    margin: 0;
    font-size: 0.8rem;
}

.agree label {
  margin: 10px;
  font-size: 0.6rem;
  
}
.agree input[type="checkbox"] {
  transform: scale(1); 
  width: auto;
   
}
.agree #checkboxError {
  margin-top: 2px; 
  font-size: 0.6rem; 
}

.login-options{
  text-align: center;
  cursor: pointer;
}
.social-icons{
  margin: 10px;
}

.facebook-icon {
  background-image: url('facebook-icon.png'); 
  margin: 5px;
}

.ios-icon {
  background-image: url('ios-icon.png'); 
  margin: 5px;
}

.google-icon {
  background-image: url('google-icon.png');
  margin: 5px;
}


.registerlink{
  text-align: center;
  font-size: 10px;
}

.formerror {
  color: red;
}






